
/* INICIO */

@media screen and (max-width: 1100px) {
    .move {
        width: 100%;
        flex-direction: column;
        align-items: center;
        margin-top: 16%;
    }
    .start {
        margin-top: 65px;
    }
    .card {
        margin-bottom: 30px
    }
    .menu {
        margin-top: 5%;
    }
    .title img {
        width: 25%;
    }
}

@media (min-width: 750px) and (max-width:1100px) {
    .title img {
        width: 20%;
    }
}

@media screen and (max-width: 750px) {
    .sobre p {
        margin-top: -0px;
        margin-left: 0px;
        padding: 30px;
        text-align: justify;
    }
    .movesobre {
        background-color: rgb(16, 16, 16);
        margin-top: 10px;
    }
    .sobre h1 {
        margin-top: -0px;
        margin-left: 0px;
        padding: 0px;
        text-align: center;
    }
    .sobreimg {
        justify-content: center;
        align-items: center;
        margin-left: 150px;
    }
    .creatormv {
        text-align: center;
        margin-top: 20px;
        background-color: rgb(16, 16, 16);
    }
    .creatorimg img {
        float: none;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        margin-right: 0px;
        margin-left: 32%;
    }
    .creator h2 {
        float: none;
        text-align: center;
        margin-top: 0px;
        margin-right: 0px;
        padding: 0px;
    }
    .creator p {
        padding: 30px;
        margin-left: 0px;
        margin-right: 0px;
    }
}

@media (min-width: 820px) and (max-width:1100px) {
    .menu ul {
        margin-top: -35px;
    }
}

@media screen and (max-width: 600px) {
    .title-menu{
        padding-top: 15px;
    }
}

@media screen and (max-width: 450px) {
    .title img {
        width: 30%;
    }
    .title-menu{
        padding-top: 30px;
    }
}

@media screen and (max-width: 355px) {
    .card {
        width: 300px;
        height: 250px;
    }
    .card:hover {
        height: 480px;
        margin-top: 6%;
    }
    .card:hover .img-box {
        top: -80px;
        scale: 0.75;
        margin-left: 15%;
    }
    .card .img-box {
        width: 200px;
    }
    .card .content {
        top: 200px;
        width: 100%;
    }
    .card:hover .content {
        top: 95px;
        height: 370px;
    }
}


@media screen and (max-width: 936px) {
    .mine {
        background-image: url(../images/header-mine936x.png);
        height: 165px;
    }
    .mine .menu ul {
        margin-top: -120px;
    }
    .title2 img {
        margin-top: -60px;
        width: 70%;
    }
    .valorant {
        background-image: url(../images/header-vava936.jpg);
        height: 278px;
    }
    .contentv .title2 img {
        margin-top: -1px;
    }
    .csgo {
        background-image: url(../images/csgo936.jpg);
        height: 268px;
    }
    .contentcs .title2 img {
        margin-top: -75px;
        width: 65%;
    }
}
@media screen and (max-width: 820px) {
    .mine {
        background-image: url(../images/header-mine800x.png);
        height: 165px;
    }
    .mine .menu ul {
        margin-top: -120px;
    }
    .title2 img {
        margin-top: -60px;
        width: 70%;
    }
    .valorant {
        background-image: url(../images/header-vava800.jpg);
        height: 238px;
    }
    .contentv .title2 img {
        margin-top: -10px;
    }
    .vava .menu ul {
        margin-top: -50px;
    }
    .csgo {
        background-image: url(../images/csgo800.jpg);
        height: 228px;
    }
    .contentcs .title2 img {
        margin-top: -70px;
        width: 60%;
    }
}

@media screen and (max-width: 608px) {
    .info img {
        display: flex;
        width: 94%;
        align-items: center;
        border-radius: 20px;
    } 
    .info {
        margin-top: 35px;
        margin-left: 20px;
        width: 250px;
        float: right;
        color: white;
        border: 3px solid gray;
        border-radius: 20px;
    }
    .info2{
        margin-top: 210px;
    }
    .mine .menu ul {
        margin-top: -110px;
    }
    .title2 img {
        margin-top: -60px;
        width: 100%;
        }
        .contentcs .title2 img {
            width: 80%;
            margin-top: -60px;
        }
    }
    @media (min-width: 609px) and (max-width:700px) {
        .contentcs .title2 img {
            width: 70%;
            margin-top: -60px;
        }
    }
    @media (min-width: 700px) and (max-width:746px) {
        .contentcs .title2 img {
            width: 65%;
            margin-top: -60px;
        }
    }
    @media (min-width: 746px) and (max-width:819px) {
        .contentcs .title2 img {
            width: 63%;
            margin-top: -60px;
        }
    }
    @media screen and (max-width: 555px) {
        .info img {
            display: flex;
            width: 93%;
            align-items: center;
            border-radius: 20px;
        } 
        .info {
            margin-top: 35px;
            margin-left: 20px;
            width: 200px;
            float: right;
            color: white;
            border: 3px solid gray;
            border-radius: 20px;
        }
        .info2{
            margin-top: 210px;
        }
        .btitle h1 {
            font-size: 16px;
        }
        .contentv .info {
            display: none;
        }
        .contentcs .title2 img {
            width: 85%;
            margin-top: -60px;
        }
        .mine .menu ul {
            margin-top: -95px;
        }
        .creator img {
            margin-left: 28%;
        }
    }
        @media screen and (max-width: 502px) {
            .info img {
                display: flex;
                width: 93%;
                align-items: center;
                border-radius: 20px;
            } 
            .info {
                margin-top: 35px;
                margin-left: 20px;
                width: 168px;
                float: right;
                color: white;
                border: 3px solid gray;
                border-radius: 20px;
            }
            .btitle h1 {
                font-size: 16px;
            }
            .info2{
                margin-top: 220px;
            }
            .contentcs .title2 img {
                width: 95%;
                margin-top: -60px;
            }
            .info {
                display: none;
            }
            .mine .menu ul {
                margin-top: -85px;
            }
        }
        @media screen and (max-width: 450px) {
            .contentcs .title2 img {
                width: 100%;
                margin-top: -60px;
            }
            .csgo .menu {
                margin-top: -70px;
            }
            .mine .menu ul {
                margin-top: -75px;
            }
            .creator img {
                margin-left: 23%;
            }
        } 

        @keyframes grow {
            from {
                transform: scale(0.8);
            }
            to {
                transform: scale(1.3);
            }
        }