
/* INICIO */

@media screen and (max-width: 1100px) {
    .move {
        width: 100%;
        flex-direction: column;
        align-items: center;
        margin-top: 16%;
    }
    .start {
        margin-top: 65px;
    }
    .card {
        margin-bottom: 30px
    }
    .menu {
        margin-top: 5%;
    }
    .title img {
        width: 25%;
    }
}
@media (min-width: 750px) and (max-width:1100px) {
    .title img {
        width: 20%;
    }
}
@media (min-width: 820px) and (max-width:1100px) {
    .menu ul {
        margin-top: -35px;
    }
}
@media screen and (max-width: 600px) {
    .title-menu{
        padding-top: 15px;
    }
}

@media screen and (max-width: 450px) {
    .title img {
        width: 30%;
    }
    .title-menu{
        padding-top: 30px;
    }
}
@media screen and (max-width: 355px) {
    .card {
        width: 300px;
        height: 250px;
    }
    .card:hover {
        height: 480px;
        margin-top: 6%;
    }
    .card:hover .img-box {
        top: -80px;
        scale: 0.75;
        margin-left: 15%;
    }
    .card .img-box {
        width: 200px;
    }
    .card .content {
        top: 200px;
        width: 100%;
    }
    .card:hover .content {
        top: 95px;
        height: 370px;
    }
}
/* MINECRAFT */

@media screen and (max-width: 936px) {
    .mine {
        background-image: url(../images/header-mine936x.png);
        height: 165px;
    }
    .mine .menu ul {
        margin-top: -120px;
    }
    .title2 img {
        margin-top: -60px;
        width: 70%;
    }
}
@media screen and (max-width: 800px) {
    .mine {
        background-image: url(../images/header-mine800x.png);
        height: 165px;
    }
    .mine .menu ul {
        margin-top: -120px;
    }
    .title2 img {
        margin-top: -60px;
        width: 70%;
    }
}

@media screen and (max-width: 608px) {
    .info img {
        display: flex;
        width: 94%;
        align-items: center;
        border-radius: 20px;
    } 
    .info {
        margin-top: 35px;
        margin-left: 20px;
        width: 250px;
        float: right;
        color: white;
        border: 3px solid gray;
        border-radius: 20px;
    }
    .info2{
        margin-top: 210px;
    }
    .mine .menu ul {
        margin-top: -110px;
    }
    .title2 img {
        margin-top: -60px;
        width: 100%;
        }
    }
    @media screen and (max-width: 555px) {
        .info img {
            display: flex;
            width: 93%;
            align-items: center;
            border-radius: 20px;
        } 
        .info {
            margin-top: 35px;
            margin-left: 20px;
            width: 200px;
            float: right;
            color: white;
            border: 3px solid gray;
            border-radius: 20px;
        }
        .info2{
            margin-top: 210px;
        }
        .btitle h1 {
            font-size: 16px;
        }
        }
        @media screen and (max-width: 502px) {
            .info img {
                display: flex;
                width: 93%;
                align-items: center;
                border-radius: 20px;
            } 
            .info {
                margin-top: 35px;
                margin-left: 20px;
                width: 168px;
                float: right;
                color: white;
                border: 3px solid gray;
                border-radius: 20px;
            }
            .btitle h1 {
                font-size: 16px;
            }
            .info2{
                margin-top: 220px;
            }
        }
        @media screen and (max-width: 502px) {
            .info {
                display: none;
            }
        } 

        @keyframes grow {
            from {
                transform: scale(0.8);
            }
            to {
                transform: scale(1.3);
            }
        }